<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title</title>
    @*@Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")*@
    <link rel="stylesheet" href="~/Content/bootstrap.min.css">
    <script src="~/Scripts/jquery-3.3.1.min.js"></scri pt>
    <script src="~/Scripts/jquery.dataTable.min.js"></script>
    <script src="~/Scripts/bootstrap.min.js"></script>
    <script src="~/Scripts/DataTableManager.js"></script>
    <link href="~/Content/custom.css" rel="stylesheet" />
    
</head>

<body>
    <header class="header-banner">
        <!--Navbar-->
        <nav class="navbar navbar-expand-md bg-dark navbar-dark">
            <!-- Brand -->
            @Html.ActionLink("Duplicates", "Index", "Home", new { area = "" }, new { @class = "navbar-brand" })
            <!-- Toggler/collapsibe Button -->
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
                <span class="navbar-toggler-icon"></span>
            </button>

            <!-- Navbar links -->
            <div class="collapse navbar-collapse" id="collapsibleNavbar">
                <ul class="navbar-nav">
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Home")">Home</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Index", "Search")">Search</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Database", "Home")">Database</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link" href="@Url.Action("Contact", "Home")">Contact</a>
                    </li>
                </ul>
            </div>
        </nav>
        
        <div class="container-width">
            
            <div class="clearfix"></div>
            <div class="lead-title">@ViewBag.Title</div>
        </div>
    </header>

    @RenderBody()
    <footer>
        <!--<div class="footer-container">
            <div class="foot-lists">
                <div class="foot-list">
                    <div class="foot-list-title">About us</div>
                    <div class="foot-list-item">Contact</div>
                    <div class="foot-list-item">Events</div>
                    <div class="foot-list-item">Company</div>
                    <div class="foot-list-item">Jobs</div>
                    <div class="foot-list-item">Blog</div>
                </div>
                <div class="foot-list">
                    <div class="foot-list-title">Services</div>
                    <div class="foot-list-item">Education</div>
                    <div class="foot-list-item">Partner</div>
                    <div class="foot-list-item">Community</div>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>-->
    </footer>
</body>
</html>
